# Files to include
include cmdbox/*.yml
recursive-include cmdbox/extensions *
recursive-include cmdbox/docker *
recursive-include cmdbox/licenses *
recursive-include cmdbox/web *

# Files to exclude
global-exclude *.pyc
global-exclude *.swp
