argcomplete
collectlicense
cryptography
fastapi
gevent
gunicorn
itsdangerous
numpy
Pillow
python-multipart
python3-saml
pycryptodome
plyer             # For desktop notifications
psycopg[binary]
pystray           # For system tray icon
#pyobjus          # Mac OS only
questionary
redis
requests
six
sphinx
sphinx-rtd-theme
sphinx_fontawesome
sphinx-intl
sphinx-sitemap
tabulate
twine
uvicorn[standard]
wheel
