argcomplete
collectlicense
cryptography
fastapi
gevent
itsdangerous
numpy
Pillow
python-multipart
redis
six
sphinx
sphinx-rtd-theme
sphinx_fontawesome
sphinx-intl
sphinx-sitemap
tabulate
hypercorn
wheel
