argcomplete
collectlicense
cryptography
fastapi
gevent
itsdangerous
numpy
Pillow
python-multipart
plyer             # For desktop notifications
pystray           # For system tray icon
#pyobjus          # Mac OS only
questionary
redis
requests
six
sphinx
sphinx-rtd-theme
sphinx_fontawesome
sphinx-intl
sphinx-sitemap
tabulate
twine
uvicorn[standard]
wheel
